server {
    listen 80;
    listen [::]:80;

    server_name {{ item.0 }};

    location /.well-known {
        alias /var/lib/dehydrated;
    }

    location /.well-known/acme-challenge {
        alias /var/lib/dehydrated/acme-challenges;
    }
}
